*{
	/*border: 2px solid #FF0000;*/
	padding: 0px;
	margin: auto;
	box-sizing: border-box;
	color: #FFFFFF;
}

/* NAVIGATION */

nav{
	background-color: #444444;
	top: 0px;
	width: 100%;
	min-width:400px;
	position: fixed;
	z-index: 1;
	opacity: .9;
}
.pageLinks{
	font-family: 'Pacifico', sans-serif;
	font-weight: 100;
	text-align: center;
	line-height: 60px;
}
.pageLinks li{
	font-size: 23px;
	display: inline;
	padding: 0em 1.5em;
}
#homeLink{
	font-size: 33px;
}
a{
	text-decoration: none;
}
a:hover{
	color:#99BBFF;
}
.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

/* HOME */

#homeSection{
	background-image: url("http://freenaturestock.s3.amazonaws.com/481.jpg");
	background-attachment: fixed;
	background-size: cover;
	top: 0px;
	height: 100vh;
	width: 100%;
	position: relative;
	text-align: center;
	margin-top: 30px;
	padding-top: 100px;
	padding-bottom: 60px;
	z-index: -1;
}
.mainText{
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
}
.mainText h1{
	font-size: 15vw;
	margin-top: 11vh;
	font-weight: bold;
	margin-bottom: -2vw;
}
.mainText h4{
	font-size: 2vw;
}
.explore{
	font-family: 'Pacifico', sans-serif;
	font-size: 35px;
	font-weight: 100;
	padding-top: 60px;
}
.exploreText{
	margin-bottom: -15px;
}
hr{
	display:inline-block;
	width: 43vw;
	height: .75vw;
	background: #FFFFFF;
	border: 0;
	margin-right: 10px;
}

/* SECTIONS */

#allSections{
	background-color: #FFFFFF;
	width: 100%;
	margin-top: 75px;
}
.lesserSection{
	width: 90%;
	text-align: center;
}
.sectionTitle{
	font-family: 'Pacifico', sans-serif;
	color: #444444;
	font-size: 50px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}
.stackItem{
	display: block;
	padding-bottom: 50px;
}
.rowItem{
	display:inline-block;
	margin-left:20px;
	margin-right:20px;
	padding-bottom: 50px;
}
.info{
	vertical-align: top;
}
.name{
	font-family: 'Pacifico', sans-serif;
	font-size: 25px;
	color: #444444;
}
.description{
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size: 20px;
	color: #444444;
	max-width: 450px;
}
img{
	width: 90%;
	max-width: 350px;
	max-height: 250px;
}
.leftItem{
	display:inline-block;
	text-align: right;
}
.rightItem{
	display:inline-block;
	text-align: left;
}
#beachSection, #landmarkSection{
	background-color: #DDDDDD;
}
.lastSection{
	padding-bottom: 50px;
}


/* FOOTER */

footer{
	background-color: #444444;
	height: 50px;
	line-height: 50px;
	width: 100%;
	bottom: 0;
	position: fixed;
	z-index: 2;
	font-family: 'Pacifico', sans-serif;
	font-weight: 100;
	text-align: center;
}